<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CM Changelog</title>
    <link rel="shortcut icon" type="image/png" href="images/icons/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Theme CSS -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Bootstrap Datepicker CSS -->
    <link href="css/datetimepicker.css" rel="stylesheet">

    <!-- Sidebar styles-->
    <link data-dump-line-numbers="all" rel="stylesheet/less" type="text/css" href="less/sidebar.less">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Less support -->
    <script src="js/less.min.js" data-poll="1000" data-relative-urls="true"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/angular.min.js"></script>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Moment js -->
    <script src="js/moment-with-locales.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Bootstrap Datepicker JavaScript -->
    <script src="js/datetimepicker.js"></script>
    <script src="js/datetimepicker.templates.js"></script>

    <!-- Sidebar JavaScript-->
    <script src="js/initializer.js"></script>

    <!-- Controllers JavaScript-->
    <script src="js/core.app.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="wrapper" ng-app="coreApp">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav id="sidebar-wrapper" class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="sidebarController" ng-init="getDevices()">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">Select device</a>
                </li>
                <li ng-repeat="device in devices">
                    <a href="{{'#' + device.codeName}}"><i class="fa fa-fw fa-mobile"></i> {{device.displayedName}}</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->


        <!-- Page Content -->
        <div id="page-content-wrapper" ng-controller="mainController">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div id="intro" class="col-lg-8 col-lg-offset-2" ng-if="isRootPage">
                        <h1 class="page-header">CyanogenMod Changelog</h1>
                        <p class="lead"> What could be easier ?
                            <br>Just select your device from the sidebar to know changelog.
                            <br>You can find latest sources <a href="https://github.com/MickevichYura/rom-changelog">here</a></p>
                    </div>

                    <div id="content" ng-hide="isRootPage">
                        <div id="date" class="col-lg-4 col-lg-offset-4">
                            <div class="dropdown">
                                <a id='dropdown-btn' class="dropdown-toggle" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control custom-datepicker" ng-value="selectedDate | date:'dd-MM-yyyy'" readonly>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="selectedDate" datetimepicker-config="{startView:'day',minView:'day', dropdownSelector: '#dropdown-btn'}" />
                                </ul>
                            </div>
                        </div>
                        <div id="commits" class="col-lg-8 col-lg-offset-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
        initializer.initSideBar();
    </script>

</body>

</html>