.list-three {
    width: 650px;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/*
 Home page styles
*/
.logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #767777;
    font-weight: 500;
}

.welcome-section {
    position: relative;
    width: auto;
    background: no-repeat center 30% #f3f3f3;
    background-size: cover;
}

.welcome-slogan {
    font-size: 60px;
    padding-top: 160px;
}

.welcome-sub-slogan {
    font-size: 21px;
    padding-top: 24px;
}

.join-to-community {
    font-size: 21px;
    padding-top: 200px;
}

.join-to-community a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
}