extends layout

block content

    .welcome-section.mdl-typography--text-center
        .logo-font.welcome-slogan
            span Welcome to CM changelog
        .logo-font.welcome-sub-slogan
            span It is awesome
        .logo-font.join-to-community
            a(href='#')
                i.material-icons accessibility
                span Join to our community