.custom-datepicker {
    text-align:center;
    font-size: 25px;
    color: #262626 !important;
}

#commits {
    padding: 20px;
    word-wrap:break-word;
}

.col-centered {
    float: none;
    margin: 0 auto;
}
